body {
	margin: 0;
	padding: 0;

	color: var(--fr-900);

	font-family: sans-serif;
}

nav {
	position: sticky;
	top: 0;
	z-index: 2;

	box-sizing: border-box;
	display: flex;
	padding: 1rem;
	width: 100%;

	background: white;
}

nav > *:not(:last-child) {
	margin-right: 0.5rem;
}

.flex {
	display: flex;
}

.line--column {
	flex-direction: column;
}

.line--column > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

.line--row {
	flex-direction: row;
	flex-wrap: wrap;
}

.line--row > *:not(:last-child) {
	margin-right: 0.5rem;
}
